.container {
  max-width: 750px;
  margin: auto;
}

.banner {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  height: 150px;
  border-radius: 0 0 8px 8px;
}

.centerAvatar {
  display: flex;
  justify-content: left;
}

.avatar {
  transform: translateY(50px);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  border: 8px solid #151515;
}

.avatar img {
  height: 100%;
  width: 100%;
}

.rowContent {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 200px;
  color: #fff;
}

.btnWatch {
  height: fit-content;
  width: fit-content;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
