.container {
  min-height: 200vh;
}

.nav {
  width: 100%;
  height: 65px;
  background-color: var(--navbar);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  z-index: 1;
  display: grid;
  place-items: center;
}

.header {
  max-width: 800px;
  margin: 65px auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main {
  max-width: 800px;
  margin: auto;
}

.banner {
  height: 200px;
  background: linear-gradient(45deg, #f3ca9c, #d18fc8);
}

.rowCv {
  padding-right: 10%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cv {
  height: fit-content;
  background-color: var(--btnColor);
  color: var(--btnText);
  height: 45px;
  padding: 0 1rem;
  font-size: 14px;
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
}

.avatar {
  border: 7px solid var(--background);
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  bottom: 0;
  left: 10%;
  position: absolute;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.content {
  padding: 0 10%;
}

.name {
  font-size: 30px;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 150px;
  }
  .rowCv {
    padding-right: 5%;
    padding-bottom: 1rem;
  }
  .avatar {
    left: 5%;
  }
}
