.nav {
  width: 100%;
  height: 50px;
  background-color: var(--navbar);
  backdrop-filter: blur(20px);
  position: fixed;
  font-size: 0.75em;
  top: 0;
  z-index: 1;
  display: grid;
  place-items: center;
}

.header {
  max-width: 800px;
  margin: 50px auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav p {
  font-size: 1.2em;
  font-weight: 600;
}

.separ {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--textColor);
}

.separ span {
  height: 1px;
  border-radius: 10px;
  width: 1rem;
  background-color: var(--textColor);
}

.main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, var(--banner), var(--banner2));
  border-radius: 0 0 12px 12px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rowCv {
  padding-right: 10%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.cv {
  margin-top: 1rem;
  height: fit-content;
  background-color: var(--primaryBtn);
  color: var(--primaryBtnText);
  padding: 10px 20px;
  font-size: inherit;
  border-radius: 30px;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  border: 2px solid d370c6;
  box-shadow: 0px 0px 7px 1px #d370c6;
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

.cv:hover {
  box-shadow: 0px 0px 12px 3px #d370c6;
}

.avatar {
  background-color: var(--background);
  border: 7px solid var(--background);
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  bottom: 0;
  left: 10%;
  position: absolute;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.content {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.name {
  display: flex;
  align-items: center;
  color: var(--textColor);
  gap: 7px;
}

.name p {
  font-size: 2em;
  font-weight: 800;
}

.badge {
  scale: 2;
}

.desc {
  line-height: 1.3;
  font-size: inherit;
}

.rowDesc {
  color: var(--textColor2);
  display: flex;
  gap: 4px;
  align-items: center;
  width: max-content;
  font-size: inherit;
}

.rowDesc p {
  color: var(--textColor2);
  font-size: inherit;
}

.rowContents {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  column-gap: 14px;
  row-gap: 7px;
}

.rowIcons {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  padding: 0 10%;
  color: var(--textColor);
}

.rowIcon {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: var(--secondaryBackground);
  cursor: pointer;
  gap: 7px;
  border: 1px solid var(--border);
}

.rowIcon:hover {
  background-color: var(--btnColor);
  transition: 0.15s ease-in-out;
}

.rowIcon p {
  font-size: 1em;
}

.rowIcon:hover * {
  color: var(--btnText);
  transition: 0.15s ease-in-out;
}

.columnMain {
  padding: 0 10%;
}

.simpTextBox {
  padding: 1rem;
}

.simpText {
  line-height: 1.5;
  color: var(--textColor2);
  font-size: inherit;
}

.simpText b {
  color: var(--textColor2);
  line-height: 1.5;
  font-size: 1.25em;
}

.subb {
  font-size: inherit;
  color: var(--textColor);
}

.centerTitle {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerTitle h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 900;
}

.centerTitle h1:nth-child(2) {
  opacity: 0.25;
}

.columnWork {
  display: flex;
  flex-direction: column;
}

.boxWork {
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.boxWork:hover {
  background-color: var(--secondaryBackground);
}

.workTitle {
  font-size: 1.25em;
  font-weight: 600;
}

.contentWork {
  color: var(--textColor2);
  line-height: 1.5;
  font-size: inherit;
}

.columnSkills {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid var(--border);
  border-radius: 12px;
  margin-bottom: 5rem;
  gap: 1rem;
}

.rowSkills {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.iconSkills {
  min-width: 50px;
  min-height: 50px;
  background-color: var(--secondaryBackground);
  display: grid;
  border-radius: 8px;
  place-items: center;
  color: var(--textColor);
  font-size: 1.5em;
}

.columnSkillsNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.columnSkillsNames p:nth-child(1) {
  font-size: 1em;
  line-height: 1.25;
  color: var(--textColor);
}
.columnSkillsNames p:nth-child(2) {
  font-size: 0.9em;
  line-height: 1.25;
  color: var(--textColor2);
}

.footer {
  background-color: var(--background);
  height: 100px;
  display: grid;
  place-items: center;
}

.footerContent {
  font-size: 0.85em;
  color: var(--textColor2);
}

.aFooter {
  cursor: pointer;
  color: var(--textColor);
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 125px;
    border-radius: 0;
  }
  .rowCv {
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .avatar {
    width: 100px;
    height: 100px;
    left: 1rem;
  }
  .cv {
    margin-top: 0;
    font-size: 0.85em;
    padding: 9px 17px;
  }
  .content {
    padding: 0 1rem;
  }
  .name p {
    font-size: 20px;
  }

  .nav {
    font-size: 0.6em;
  }
  .name {
    gap: 7px;
  }
  .badge {
    scale: 1.2;
  }
  .desc {
    font-size: 16px;
  }
  .rowDesc p {
    font-size: 14px;
  }
  .columnMain {
    padding: 0 3%;
  }
  .rowIcons {
    padding: 0 3%;
  }
  .rowIcon p {
    font-size: 14px;
  }

  .centerTitle h1 {
    font-size: 40px;
    font-weight: 900;
  }

  .simpText {
    font-size: 16px;
  }
  .subb {
    font-size: 16px;
  }
}
