@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Cherolina";
  src: url("./fonts/Cherolina.ttf") format("truetype");
}

body {
  background-color: var(--background);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  line-height: 100%;
}

p,
b {
  font-family: "Inter", serif;
  color: var(--textColor);
}

h1 {
  font-family: "Poppins", serif;
  color: var(--textColor);
}
a {
  text-decoration: none;
  color: unset;
}

:root {
  --background: #fff;
  --navbar: #ffffffcc;
  --secondaryBackground: #f0f0f0;
  --textColor: #050505;
  --textColor2: #495057;
  --btnColor: #050505;
  --btnText: #fff;
}

[data-theme="dark"] {
  --background: #151515;
  --secondaryBackground: #242424;
  --navbar: #151515bb;
  --textColor: #fff;
  --textColor2: #858e96;
  --btnColor: #fff;
  --btnText: #050505;
}
